@import "../abstracts/abstracts-module";

/* ICONS */

*[class*="icon--"] {
  stroke-width: 1px !important;
}

$icon-color:(
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
);

@each $name, $color in $icon-color {
    .icon--#{$name} {
        stroke: $color !important;
        stroke-width: 1px !important;
    }
    .icon__link {
        .icon--#{$name}:hover {
          stroke: darken($color, 15%) !important;
        }
        .icon--#{$name}:active {
          stroke: lighten($color, 15%) !important;
        }
    }
}

$icon-size:(
    "xs":         $spacer,          //16px
    "sm":         $spacer * 1.5,    //24px default
    "md":         $spacer * 2,      //32px
    "lg":         $spacer * 3,      //48px
    "xl":         $spacer * 4,      //64px
);

@each $name, $size in $icon-size {
    .icon--#{$name} {
        width: $size !important;
        height: $size !important;
    }
}


.icon--star {
  font-size: $h3-font-size;
  line-height: 0.5;
}

.input__icon--search {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%232E3092" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"/><line x1="21" y1="21" x2="16.65" y2="16.65"/></svg>') no-repeat;
    background-size: 20px;
    background-position: left 10px center;
}

.input__icon--user {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%232E3092" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>') no-repeat;
    background-size: 20px;
    background-position: right 10px center;
}

.input__icon--lock {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%232E3092" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>') no-repeat;
    background-size: 20px;
    background-position: right 10px center;
}

.input__icon--mail {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%232E3092" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"/><polyline points="22,6 12,13 2,6"/></svg>') no-repeat;
    background-size: 20px;
    background-position: right 10px center;
}

.input__icon--chevron-down {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%232E3092" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"/></svg>') no-repeat;
    background-size: 20px;
    background-position: right 10px center;
}

.input__icon--calendar {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%232E3092" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>') no-repeat;
    background-size: 20px;
    background-position: right 10px center;
}
