@import "../abstracts/abstracts-module";

/* POPOVERS */
.popover {
  box-shadow: $box-shadow;

  .popover-header {
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

}

.bs-popover-right > .arrow::before,
.bs-popover-auto[x-placement^="right"] > .arrow::before {
  border-right-color: transparent;
}
