<section class="d-flex">

  <aside class="flex-grow-1 d-none d-lg-block sign-up-form__aside"></aside>

  <div class="flex-grow-1 sign-up-form__container">
    <!-- Only for QA knowledge, remove it if necessary -->
    <div>v1.0.0-beta-15</div>

    <div class="d-flex justify-content-center">
      <img class="sign-up-form__logo" src="../../../../assets/img/logo-eprocurement.svg" alt="EProcurement Logo">
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <router-outlet></router-outlet>
    </div>
     <!-- Only for QA knowledge, remove it if necessary -->
 <div style="position: fixed; top: 0; left: 0;">v1.0.0-beta-15</div>

  </div>

</section>
