/* MIXINS */

// Add vendor prefixes to any css property
// @include prefixes(transform, scale3d(2.5, 2, 1.5));
@mixin prefixes($prop, $value) {
  -webkit-#{$prop}: #{$value};
  -moz-#{$prop}: #{$value};
  -ms-#{$prop}: #{$value};
  -o-#{$prop}: #{$value};
  #{$prop}: #{$value};
}

// Keyframe animations
// @include keyframes(name) { 0% {background: white;} }
@mixin keyframes($animate) {
  @-webkit-keyframes #{$animate} {
    @content;
  }
  @-moz-keyframes #{$animate} {
    @content;
  }
  @-o-keyframes #{$animate} {
    @content;
  }
  @keyframes #{$animate} {
    @content;
  }
}

// Clearfix - Helper to clear inner floats
// @include clearfix();
@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

// Font Face Relu
// @include font-face('Lato', '../fonts/lato/lato-regular-webfont', 400, normal);
@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
    url('#{$file-path}.woff') format('woff'),
    url('#{$file-path}.ttf') format('truetype'),
    url('#{$file-path}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: $font-family;
      src: url('#{$file-path}.svg##{$font-family}') format('svg');
    }
  }
}

@mixin clip-text() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

@mixin ellipsis-text() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
