<div class="auth__content" @auth>

  <div class="auth__header">
    <h1>¡Bienvenido de nuevo!</h1>
    <p>Introduzca su nueva contraseña.</p>
  </div>

  <div class="auth__body">
    <form (ngSubmit)="changePassword()" [ngClass]="{ 'form--invalid': submitted }">
      <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Token inválido.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        La contraseña no debe coincidir con la última contraseña utilizada.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->

      <div class="form-group position-relative">
        <label>Contraseña</label>
        <input type="password" class="form-control input__icon--lock" id="exampleInputPassword1" placeholder="xxxxxxxx"
        [formControl]="passwordChangeForm.controls['password']">
        <div class="input__detail">
          La contraseña debe tener como mínimo 4 caracteres. Además, debe incluir al menos una letra y/o número.
        </div>
        <div class="invalid-feedback" *ngIf="this.passwordChangeForm.controls['password'].errors?.minlength">
          La contraseña debe incluir al menos 4 caracteres.
        </div>
        <div class="invalid-feedback" *ngIf="this.passwordChangeForm.controls['password'].errors?.pattern">
          La contraseña debe incluir al menos una letra y/o número.
        </div>
      </div>

      <div class="form-group">
        <label>Confirmación de contraseña</label>
        <input type="password" class="form-control input__icon--lock" id="exampleInputPassword2" placeholder="xxxxxxxx"
        [formControl]="passwordChangeForm.controls['passwordRepeat']">
        <div class="invalid-feedback" *ngIf="this.passwordChangeForm.controls['passwordRepeat'].errors?.mustMatch">
          La confirmación de contraseña no coincide.
        </div>
      </div>

      <div class="form-group d-flex align-items-center flex-column">
        <re-captcha [formControl]="passwordChangeForm.controls['captcha']"></re-captcha>
        <div class="invalid-feedback">
          El campo es requerido.
        </div>
        <div class="captcha--invalid">
          La verificación caducó. Vuelve a marcar la casilla de verificación.
        </div>
      </div>
    </form>

  </div>

  <div class="auth__footer">
    <button type="submit" class="btn btn__primary--gradient btn-block" (click)="changePassword()">Cambiar contraseña</button>
    <hr class="flex-fill text__divider" data-content="o">
    <a class="btn btn-outline-secondary btn-block" routerLink="/signin">Iniciar sesión</a>
  </div>

</div>

<!-- Position it -->
<div style="position: fixed; top: 1rem; right: 1rem;">

  <app-notifications></app-notifications>

</div>
