<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="ModalDeleteTitle"
  aria-hidden="true">
  <div class="modal-sm modal--danger modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div body class="modal-body">
        <div class="justify-content-center">
            <i-slash class="modal__icon"></i-slash>
            <h1>¡Aviso!</h1>
            <p>Una vez eliminda una solicitud no podrá recuperarla, ¿Confirma que desea eliminar?</p>
        </div>
      </div>
      <div action class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-danger">Sí</button>
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>
