<div class="card-header d-flex justify-content-between" data-toggle="collapse" data-target="#items"
  aria-expanded="true" aria-controls="items">
  <h3>Ítems</h3>
  <i-chevron-down class="text-light"></i-chevron-down>
</div>
<div class="card-body collapse show" id="items">
  <div class="row">
    <div class="col-12 table-responsive">
      <table class="table table--simple">
        <thead class="thead-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">Rubro</th>
            <th scope="col">Subrubro</th>
            <th scope="col">Nombre del producto</th>
            <th scope="col">Unidad de medida</th>
            <th scope="col">Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row">
            <td class="td--row-number">1</td>
            <td>Rubro 10</td>
            <td>Subrubro 23</td>
            <td>Cemento Loma Negra Bolsa de 50 kgs</td>
            <td>Kgs</td>
            <td>100.000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
