<div class="modal fade" id="ModalRedirect" tabindex="-1" role="dialog" aria-labelledby="ModalRedirectTitle"
  aria-hidden="true">
  <div class="modal-sm modal--info modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
          <div class="justify-content-center">
              <i-info class="modal__icon"></i-info>
              <h1>¡Aviso!</h1>
              <p>El sistema lo redigirá a una plataforma externa para el pago de la comisión.</p>
          </div>
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-info">Aceptar</button>
        <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cancelar</button>
      </div>

    </div>
  </div>
</div>
